*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
Beef.MP/Beef.MP/wwwroot/upload/
Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.MP.dll
Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.MP.pdb
Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.dll
Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.pdb
